$text: #f2eff4;
$background: #060408;
$primary: #ba95de;
$secondary: #591b93;
$accent: #8315ec;
$font-small: 1rem;
$font-medium: 1.5rem;
$font-big: 2rem;
$small-padding: 0.5rem;
$medium-padding: 1rem;
$big-padding: 1.5rem;
